

:root{
    --Azul-capa: #000123;
    --rosa-letra: #FF0F7B;
    --roxo-letra: #9E5AFF;
    --marrom-claro:#AB5009;
    --marrom-avermelhado: #9E4910;
    --rosa-claro: #ffc7a2;
    --rosa-fundo: #fdf5d8;
}



body{
    background-color: #000123;
    width:50vw ;
    height: 20vh;
}

body h1{
    color: white;
  font-family:league-sparta;
 margin-left: 360px;
 font-size:120px;
}

body p{
    color: #FF0F7B;
    margin-left: 80px;
}
