@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root{
    --Azul-capa: #000123;
    --rosa-letra: #FF0F7B;
    --roxo-letra: #9E5AFF;
    --marrom-claro:#AB5009;
    --marrom-avermelhado: #9E4910;
    --rosa-claro: #ffc7a2;
    --rosa-fundo: #fdf5d8;
}
@font-face {
    font-family: TT Octosquares;
    src: url("fontes/TT\ Octosquares\ Trial\ Bold.ttf");
}
@font-face {
    font-family: rundefont;
    src: url(fontes/Boohong.ttf);
}
body{
    background-color: #000123;
    width:50vw ;
    height: 20vh;
    font-family: League Spartan;
}
h1{
   font-family: TT Octosquares;
}
body h1{
    color: white;
  font-family:;
}

body p{
    color: #FF0F7B;
}
p{
    font-family: rundefont;
  }